@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body,html {
    color: #000;
    background: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    text-decoration: none;
    box-sizing: border-box;
  }

  header{
    background-color: #fff;
  }

  header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  header a{
    color: #503459;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  .login-signup-button{
       display: flex;
       justify-content: space-evenly;
    
  }

  .login-signup-button > a{
    font-size: 0.7rem;
    font-weight: 500;
    padding: 10px;
  }

  a:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  .pages{
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
  }

  .Home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 80px;
  }

  .workout-details{
    position: relative;
    color: #81638b;
    line-height: 7px;
    height: 7rem;
    width: 40rem;
    background-color: #dac9df;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

.workout-details h4{
  color: #503459;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.create{
 color: #81638b;
 margin: 20px auto;
 background-color: #fff;
 height: 22rem;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 padding: 20px;
 line-height: 25px;
}

.create >h3{
  color: #503459;
  padding-top: 0;
  font-size: 1.1rem;
  text-transform: uppercase;

}

label, input {
  display: block;
  
}

input {
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


form button {
  background-color: #503459;
  border: 0;
  color: #fff;
  margin-top: 5px;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #503459;
  padding: 6px;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color:#dac9df;
}


.signup, .login{
  background-color:#dac9df;
  display: grid;
  justify-self: center;
  margin: 2rem auto 2rem auto;
  padding: 10px;
  justify-items: center;
  width: 25rem;
 
}